# Build Artifacts
build/**

# Cmake
**/CMakeUserPresets.json

# Caches
**/[Cc]ache/
**/__pycache__/

# Vendors
vendor/ninja/**

# Visual Studio
/.vs/**
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Visual Studio Code
/.vscode/**
# Exception
!/.vscode/launch.json